DATABASE_URL=postgres://postgres:YOURPASSWORD@localhost:5432/learning_lab
URL=localhost:3000
POSTGRES_USER=postgres
POSTGRES_PASSWORD=YOURPASSWORD
POSTGRES_DB=learning_lab
PGDATA=/var/lib/postgresql/data/pgdata
SECRET="SECRETVCL"
ADMIN_ROUTE=scibidiviemkhongyeuduoi

